pom.xml
*jar
*.log
*.pem
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/.lein-repl-history
/.nrepl-port
/profiles.clj
/profiles.clj~
/test-cert*
/test_p*
/client_s*
/repl
/out
/resources/public/js
/src/spectra/.*
/src/spectra/#*
/logs
/maven_repo