pom.xml
*jar
*.log
*.pem
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/.cljs_rhino_repl
/target
/.lein-repl-history
/.nrepl-port
/profiles.clj
/profiles.clj~
/java_props.clj
/java_props.clj~
/test-cert*
/test_p*
/client_s*
/repl
/out
/resources/public/js/login
/resources/public/js/main
/resources/public/js/dev
/src/candlecrm/.*
/src/candlecrm/#*
/logs
/maven_repo
/certs
