{:name spectra_cljs.init, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {goog.dom goog.dom, dom goog.dom, events goog.events, ajax spectra_cljs.ajax, pages spectra_cljs.pages, spectra_cljs.pages spectra_cljs.pages, str clojure.string, clojure.string clojure.string, goog.events goog.events, spectra_cljs.ajax spectra_cljs.ajax}, :imports nil, :defs {init {:protocol-inline nil, :meta {:file "/home/alyssa/clojure/spectra/src/spectra_cljs/init.cljs", :line 8, :column 7, :end-line 8, :end-column 11, :arglists (quote ([]))}, :name spectra_cljs.init/init, :variadic false, :file "src/spectra_cljs/init.cljs", :end-column 11, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 8, :end-line 8, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}