div.tab-show {
    display: block;
}

div.tab-hide {
    display: none;
}

div#page-footer {
    background: #00688B;
    color: #FFFFFF;
    margin-top: 4em;
}

div#page-header {
    background: #00688B;
    color: #FFFFFF;
}

div#menu-bar {
    background: #61B329;
}

div.menu-icons a {
    color: #FFFFFF;
}

div.menu-icons h2 {
    margin-top: 0em;
    margin-bottom: 0em;
}

div#app-menu li {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

tbody#people-rows td {
    white-space: nowrap;
    overflow: hidden;
}

#email-body a, span {
    display: inline;
}

a.new-link {
    margin-left: 0.5em;
}